.page {
    padding: 16px 24px;
}

.search {
    flex-grow: 1;

    &Wrapper {
        display: flex;
        justify-content: space-between;
        gap: 12px;
        margin-bottom: 20px;
    }
}

.productList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
