$bg-gradient-color-1: #fcfcfc;
$bg-gradient-color-2: #f7f7f7;
$bg-gradient-color-3: #f7f7f7;

$neutral-0: #ffffff;
$neutral-150: #eaeaef;
$neutral-300: #c0c0cf;
$neutral-500: #8e8ea9;
$neutral-600: #666687;
$neutral-800: #32324d;

$main-text-color: $neutral-600;
$light-text-color: $neutral-500;
$main-title-color: $neutral-800;

$seach-icon-color: $neutral-300;
$border-color: $neutral-150;
$white-color: $neutral-0;
